config/esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadatos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="proyecto" type="xs:string"/>
              <xs:element name="version">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]+\.[0-9]+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="descripcion" type="xs:string"/>
              <xs:element name="tecnologias">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="conexion_bbdd">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="servidor" type="xs:string"/>
              <xs:element name="puerto">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="65535"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="usuario" type="xs:string"/>
              <xs:element name="base_datos" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="preferencias_app">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="idioma">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="es"/>
                    <xs:enumeration value="en"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tema">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="claro"/>
                    <xs:enumeration value="oscuro"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
